
{{#inverse}}{{#bold}}{{#green}}{{name}} has been created. `cd {{name}}` then run `npm install` to install all dependencies.{{/green}}{{/bold}}{{/inverse}}

For information on what to do next, visit:

  {{#bold}}{{#underline}}{{getStartedUrl}}{{/underline}}{{/bold}}.
