{{#red}}The {{#bold}}{{template}}{{/bold}} template doesn't exist. You can choose one of the following templates:

    default  -  Choose this if you're building a JIRA or Confluence Connect add-on.
                This is the default.
    hipchat  -  Choose this if you're building a HipChat Connect add-on.
    <url>    -  Alternatively, specify a URL to download a custom add-on template from.
{{/red}}