{{#bold}}atlas-connect{{/bold}} -- CLI for Atlassian Connect Add-ons

{{#yellow}}Usage: atlas-connect [-h|--help] <command> [<args>]{{/yellow}}

The most commonly used atlas-connect commands are:
    new         Generate a new Atlassian Connect Add-on scaffold. Optionally,
                pass in the --template (or -t) flag to specify a template.
                For example, {{#bold}}atlas-connect new -t hipchat my-hipchat-addon{{/bold}}